<%= form_for(@sales_history) do |f| %>
  <% if @sales_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_history.errors.count, "error") %> prohibited this sales_history from being saved:</h2>

      <ul>
      <% @sales_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity_time,"営業日時" %><br>
    <%= f.datetime_select :activity_time %>
  </div>
  <div class="field">
    <%= f.label :customer_id,"顧客ID" %><br>
<!--     <%# customers = Customer.all %>
    <%# ary=[] %>
    <%# customers.each do|c| %>
      <%# ary << [c.company_name, c.id] %>
    <%# end %>
    <%#= f.select(:customer_id, options_for_select(ary)) %>
 -->    <%= f.collection_select(:customer_id, Customer.all, :id, :company_name) %>
  </div>
  <div class="field">
    <%= f.label :sales_category,"営業区分" %><br>
    <%= f.select(:sales_category, options_for_select(["商品案内","契約","フォロー","クレーム処理","他"],"契約")) %>
  </div>
  <div class="field">
    <%= f.label :sales_achievement,"営業成果" %><br>
    <%= f.select(:sales_achievement, options_for_select(["達成","継続","失敗"],"達成")) %>
  </div>
  <div class="field">
    <%= f.label :detail,"メモ" %><br>
    <%= f.text_area :detail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
