<p id="notice"><%= notice %></p>

<h1>Listing Sales Histories</h1>

<table>
  <thead>
    <tr>
      <th>Activity time</th>
      <th>Customer</th>
      <th>Sales category</th>
      <th>Sales achievement</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_histories.each do |sales_history| %>
      <tr>
        <td><%= sales_history.activity_time %></td>
        <td><%= sales_history.customer %></td>
        <td><%= sales_history.sales_category %></td>
        <td><%= sales_history.sales_achievement %></td>
        <td><%= sales_history.detail %></td>
        <td><%= link_to 'Show', sales_history %></td>
        <td><%= link_to 'Edit', edit_sales_history_path(sales_history) %></td>
        <td><%= link_to 'Destroy', sales_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales history', new_sales_history_path %>
